<md-dialog aria-label="About">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>About</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="hide()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<h4 class="md-title">About the application</h4>
			<p>Once I came to conclusion that salary calculations took much time. I'd tried to find online tool but fould
				only spreadsheet that did not work for me.</p>
			<p>Being AngularJS lover I decided to spend several hours and create such tool based on this framework. You can
				see code on <a href="https://github.com/stevermeister/dutch-tax-income-calculator">github</a>, welcome for
				propositions.
			</p>
			<h4 class="md-title">About 30% Ruling</h4>
			<p>
				The salary criteria for the <b>30%-ruling</b> as per January 2015 are as follows:<br>
			<ul>
				<li>The annual taxable salary for an employee must be more than <b>EUR 36,705</b> (2014: EUR 36,378).</li>
				<li>The taxable salary for an employee with a master’s degree and who is younger than 30 years, must be more
					than
					<b>EUR 27,901</b> (2014: EUR 27,653).
				</li>
			</ul>
			</p>
		</md-dialog-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button ng-click="hide()" class="md-raised md-primary">Close</md-button>
		</div>
	</form>
</md-dialog>