.report-value {
	font-weight: bold;
}
.title {
	position: relative;
}
.motto {
	position: absolute;
	bottom: -14px;
	right: 0px;
	font-style: italic;
	opacity: 0.6;
}
.sub-buttons md-icon {
	color: black !important;
}
md-fab-speed-dial {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.toolbar-icon md-icon {
	color: white !important;
}