.report-value {
	font-weight: bold;
	text-align: right;
}
.title {
	position: relative;
}
.motto {
	display: inline-block;
	font-style: italic;
	opacity: 0.6;
}

.github-fork-ribbon {
	background-color: rgba(255, 255, 255, 0.5);
}